header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;

    background: var(--color-sec-background);

    border-bottom: 4px solid rgba(255, 255, 255, 0.137);
    margin-bottom: 40px;

}